In [41]:
#packages
import pandas as pd
import numpy as np

In [2]:
# #importing file 0
# zero_df = pd.read_csv("/Users/conniechou/Downloads/2023_place_canvas_history-000000000000.csv")
# zero_df.head()

In [3]:
# #convert timestamp to datetime

# #those cannot be parsed into datetime turn into Nan
# zero_df["timestamp"] = pd.to_datetime(zero_df["timestamp"], errors='coerce')
# zero_df.dtypes
# #convert into datetime format we want
# # desired_format = "%Y-%m-%d %H:%M:%S.%f UTC"  # or any other format you wish
# # zero_df["formatted_timestamp"] = zero_df["timestamp"].dt.strftime(desired_format)

In [9]:
#create a function to convert timestamp column to datetime for each file put in
def preprocessing(url):
    
    #upload csv file
    df = pd.read_csv(url)
    
    #change timestamp to datetime
    df["timestamp"] = pd.to_datetime(df["timestamp"], errors='coerce')
    
    #systematic sampling to get every 50 rows, including the first row
    sampling_rate = 50

    sampled_df_name = df.iloc[::sampling_rate]

    # Print the sampled DataFrame
    return sampled_df_name

In [10]:
one_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000001.csv")
one_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-20 15:56:56.167000+00:00,lkA+sbLlP/gT2xaS+oh4LbkDgc5BXZIYdF60Cp8NZsCp+L...,"27,-420",#FFD635
50,2023-07-20 15:56:56.313000+00:00,qSCWRbTaTGlwMd1BhfQ3duEhN37JZUUFTJfWYkISomV2Jy...,"-305,418",#000000
100,2023-07-20 15:56:56.446000+00:00,IqUEZKhoVs9BH7xXZcRFOCWA5VVASC7ks0Vcfqd2hlyIXh...,"404,70",#B44AC0
150,2023-07-20 15:56:56.591000+00:00,PdTMDuuBFejDnQPTKkFYQ6qk5mdcNimvAcrEf2XoLUwxpt...,"-374,-366",#000000
200,2023-07-20 15:56:56.743000+00:00,8a4rDMjPES1I46WrrHbO3+vOLUJWlnZ+36i3ZUuTroHHDp...,"239,240",#000000
...,...,...,...,...
2419350,2023-07-20 18:09:48.893000+00:00,JiZ/rqUFVV9CS8gFampLhHuXxCUqwS3uvubCYHov96i4Jr...,"199,418",#00A368
2419400,2023-07-20 18:09:49.109000+00:00,HKzyyou4baqphI+zldOQARbYXqm2aNTJCZPTDwB85SOSP6...,"-355,-186",#FFD635
2419450,2023-07-20 18:09:49.279000+00:00,U2wPzj78JpfhRWMp9S2YW6dG8+sUyYYzA2tlfSc8NB5qH1...,"-312,295",#FFFFFF
2419500,2023-07-20 18:09:49.409000+00:00,NBh3mk9yUpfomX+PI440g7Yi+rLk9qUJskZMzpgxk0rgnm...,"440,397",#3690EA
2419550,2023-07-20 18:09:49.529000+00:00,xH0hlnlCtNu7vt4PM5ThzBpcHfWwZZdY2X5D+C1J3dpn4g...,"-74,230",#3690EA

In [11]:
zero_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000000.csv")
zero_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-20 13:00:26.088000+00:00,no+8HEIDjbdx7/LxH9Xr+h4lyoar0MRTYugWKrGdQOg7dF...,"-199,-235",#FFFFFF
50,2023-07-20 13:04:46.627000+00:00,YF56mQAiwsAJZWzgMKsdbV9/C/BX6TrYCG5tI0RWei5gMB...,"-282,136",#FF4500
100,2023-07-20 13:04:50.488000+00:00,JVohwv9S68P/w6g43UGQ2cIYfQRDbHGz6j+e4as892QiRb...,"4,311",#000000
150,2023-07-20 13:04:53.186000+00:00,ZSFZbF0lkStMHMvpxTc9g1+JpjHXDHBQVdFn8wo+9gGCyX...,"231,7",#000000
200,2023-07-20 13:04:55.302000+00:00,jgIOrksmd9jjetEZzqaU6mmKrIJwng/c/NHdZKvtqNZZ1A...,"-492,-498",#000000
...,...,...,...,...
2359400,2023-07-20 15:56:55.357000+00:00,8+IPpi0DT0IiqbzVPjsQXoZ6yq99TqQnpsiXN7lLxDrTxX...,"-426,161",#000000
2359450,2023-07-20 15:56:55.489000+00:00,6ehIbcT7pL4+CmAE5HMoJLZufDFTHDt0OBuGJ/7e5JxqEu...,"261,478",#FFD635
2359500,2023-07-20 15:56:55.693000+00:00,/iT8/PlYvBgUC+m6HtHEMusN6ENYYHNtyOcrRKkqvtRfX3...,"323,197",#000000
2359550,2023-07-20 15:56:55.902000+00:00,+lAtBwJIfLUhSLuyZ2mfTD+/ovBoi1PN8zajfuBsFq3QX1...,"178,-148",#3690EA
2359600,2023-07-20 15:56:56.089000+00:00,FpRD8wSvJpA8w0ZYfItH3oTkQkY+P+3LpQdHyQ7+tu+Z3k...,"-386,271",#FF4500

In [12]:
two_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000002.csv")
two_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-20 18:09:49.658000+00:00,1Gwttcp+9HC4YLaERXOAmAtfpBj/lD3Da9sLQSyonii/Ob...,"477,268",#3690EA
50,2023-07-20 18:09:49.835000+00:00,8qvdVS8TzN4lz2lsmwgb0wPGb55nVyd7s2Nff1BgxsZEaP...,"-75,464",#FF4500
100,2023-07-20 18:09:50.002000+00:00,tfXjxbl7/B/MQeCiQ7yG8zuC34WoXa4m9Hd1obaTl4ShcF...,"-473,-336",#3690EA
150,2023-07-20 18:09:50.197000+00:00,oR5bMXTKnk/tsRQXR8YvDQHzCIjHUp4WuLVcxyjb/lE3ni...,"-457,-329",#000000
200,2023-07-20 18:09:50.337000+00:00,9NkpeKT1lkwjnrTyJ/GQwI62CNnH5eDkBbrFy8mUb9Fusc...,"169,469",#FF4500
...,...,...,...,...
2278550,2023-07-20 19:44:21.932000+00:00,MTsxuO849NNfDVkqN8iUNYF/wrFms1EmwPv5PTK9WfXUwH...,"-453,401",#000000
2278600,2023-07-20 19:44:22.096000+00:00,1cYstZai+1SHSmTQsuGN8PYvVup598MEyfymfFKw7SwHW3...,"442,254",#FFFFFF
2278650,2023-07-20 19:44:22.254000+00:00,iyY72hRIPA9M104TYKODSJscl1dBUDLJ3jq7dyP9nx1q3M...,"79,-214",#000000
2278700,2023-07-20 19:44:22.382000+00:00,JxWgvBE1Jr5WucXDElxAmtgDiPRIbZAUXISUOtZANbJBY0...,"-307,209",#FFFFFF
2278750,2023-07-20 19:44:22.495000+00:00,vHuZ1LU0VOztclp3EVym9FzmjcNjH1dXDOyOBaEWN3wncM...,"-213,-152",#3690EA

In [13]:
three_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000003.csv")
three_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-20 19:44:22.590000+00:00,6koTkPY+tYwC/2jbvxlaLuy5hbIwPyeD3VfMvSZvIfeuOg...,"359,-56",#FFD635
50,2023-07-20 19:44:22.657000+00:00,n5ew2vG9iW+UB8hZrXAZHDz07pgE2udPYCOP2Y1D6C0KBO...,"-28,252",#000000
100,2023-07-20 19:44:22.770000+00:00,Yx1ZWLslAQNazALwPuWr8yKSC5+dWUu+bfgBGNyAnhfiCC...,"147,-190",#FF4500
150,2023-07-20 19:44:22.843000+00:00,giArEHriTGfYb7MPptOCRj2T0OVjjKBPWCGz7qPDxSfJkL...,"-304,251",#3690EA
200,2023-07-20 19:44:22.968000+00:00,GOlldZ/6SL9cHDNWHXzB+IA9DdDQoWiLiJT7y+bkPEivpg...,"-436,377",#000000
...,...,...,...,...
2646200,2023-07-20 21:36:41.749000+00:00,Ts1rfsR/cLEQwKtB55hgxYM1Nfwx4HORFU55jJEghoSeBe...,"310,191",#3690EA
2646250,2023-07-20 21:36:41.911000+00:00,86RrbP0p2c4z0Z0bfF1wBcGdzKtOYIsmRNpaSWaXDNh04t...,"-215,390",#FF4500
2646300,2023-07-20 21:36:42.040000+00:00,7M5I0AAZwQb/jHWR1K28owm/iDQguZWJH2v/HDgq4jHxul...,"275,-152",#FF4500
2646350,2023-07-20 21:36:42.146000+00:00,I2hihsQrNqNvGJynz02X6LwJkeWFU3j+/VFIChF20hfN60...,"-197,441",#FF4500
2646400,2023-07-20 21:36:42.231000+00:00,CsiBncQlgIs5pqhEucy6zdGWL/r9ubGxtsnZUvTs1oKVp8...,"-232,417",#B44AC0

In [14]:
four_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000004.csv")
four_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-20 21:36:42.250000+00:00,B0jKjuoQf3ywr23w8D2m/sKP/YNMqmfTJBFbewHMyEuKWw...,"214,466",#FFD635
50,2023-07-20 21:36:42.371000+00:00,JVaYTa8EEvJPYBB5ZQYwRTtkp77DWkMKnd8NZjRpJZm4mC...,"314,340",#000000
100,2023-07-20 21:36:42.559000+00:00,D0MpBNvamXnGhwA3vS8yRx3i0pVryGnOqb8t5uUuQiw9ZL...,"186,462",#FFD635
150,2023-07-20 21:36:42.691000+00:00,qaIGCygSUhW0WyecLMxglGaKjTauSgrevWQQMjjf+4j2vY...,"129,461",#000000
200,2023-07-20 21:36:42.822000+00:00,E6JJckne+qhkxC6QZvg2zHG8J0ltaTT7is6f0vN/j6Whyr...,"473,366",#000000
...,...,...,...,...
2797700,2023-07-21 00:14:34.555000+00:00,983yohCu0GD8+kWPTSC9MOLtHW+pJrPkuFtqYKulXAXHEE...,"-318,344",#FF4500
2797750,2023-07-21 00:14:34.829000+00:00,kustUlpreRrqEbs/wYpLFbioyph+wRR0Bukg0YGJBR+4OH...,"-83,484",#3690EA
2797800,2023-07-21 00:14:35.043000+00:00,FfGJidFUBGwAzCu7VCMR8jJExOGhSNHch9PHIw/j4trcop...,"271,367",#FFD635
2797850,2023-07-21 00:14:35.245000+00:00,KIh0BlnW1mNgyr8175GeV9SpEoV1qDSDRwvkRpJ+hZlr4C...,"107,273",#000000
2797900,2023-07-21 00:14:35.410000+00:00,EsV6BmyowVaFrKdypLLEf1PWvu+peF4lT6Arnoxs5Cp1y7...,"201,280",#B44AC0

In [16]:
five_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000005.csv")
five_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-21 00:14:35.521000+00:00,froT/0sG9jU8nl7jDUK645E9q580TbQ4Y1tDp88Nbhca+d...,"-234,120",#FFFFFF
50,2023-07-21 00:14:35.690000+00:00,7AhPLvEpGs/igucILMlZRLTk8TVdpHAUahMURFOw/Fb0x4...,"69,222",#3690EA
100,2023-07-21 00:14:36.009000+00:00,YUfWhuiZ7uencqydd9X+5U/7iHJ/e2ar/ILdxf45BiEn8t...,"390,92",#000000
150,2023-07-21 00:14:36.249000+00:00,scBTGVFHKU5TbPLjCAJIDHsm0DyIhK5izUEVtTAfUOLoP7...,"326,198",#FFFFFF
200,2023-07-21 00:14:36.442000+00:00,zmcXeIFH1VrRwfxdB9PZ1M+37+64wEuv3Elmepp4TounER...,"160,48",#FFFFFF
...,...,...,...,...
2460100,2023-07-21 04:07:13.188000+00:00,g1PEa9Crzu6Ukqvq5B2wySWceku8Pgaq+r1q6cy6BQByn+...,"50,181",#FFFFFF
2460150,2023-07-21 04:07:13.574000+00:00,ukttjyJkIOQJU8jifMk4L6sirYD0zMfu3WaoYYmeZmuGPh...,"-255,-217",#000000
2460200,2023-07-21 04:07:13.989000+00:00,dLILszMusyVwUFedOMDWSXrfJ2sQW++q8IHmr6qlKbGwXA...,"19,-416",#000000
2460250,2023-07-21 04:07:14.358000+00:00,gGDL4rTFD+y7nC+lcLYEH2JAKgjCl2AF/BM48IJ+AqDosk...,"419,282",#FFA800
2460300,2023-07-21 04:07:14.711000+00:00,wouSxwxwSn9r2+A8hTz0+VjDEloQdFAdbbGlskeih9bWk3...,"-259,-326",#FFFFFF

In [17]:
six_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000006.csv")
six_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-21 04:07:15.123000+00:00,3O3QsiJPJRpUfb8hGZCoFIOy1iCktq0ZRD7+flHUrJa/H8...,"354,-199",#FF4500
50,2023-07-21 04:07:15.466000+00:00,wBkyPDCzkURANcdBXv9L9eTHxRIvJFmAPHqKO7nWPOQqx4...,"5,390",#FFFFFF
100,2023-07-21 04:07:15.806000+00:00,wI6NZPbJ6ni/HqUXoPTp1vcwC5TJB4znGkpLoI2U1my2KJ...,"-35,122",#FF4500
150,2023-07-21 04:07:16.147000+00:00,hCob9RXy4F7Mp8hoSZ9fuYDnsHT8376bEx3M4hLPU9MhKa...,"105,178",#FFFFFF
200,2023-07-21 04:07:16.466000+00:00,jJT2xmvPhn4jOjuVpPIMXFk4KaFq2U08oVKXTH7VcUsoVt...,"-268,75",#00A368
...,...,...,...,...
2654000,2023-07-21 09:06:16.838000+00:00,zoNyXyAUfw1i0rx2spPUorwB+1K5k/HIV7mUhi9ovhLO/D...,"-422,378",#FFD635
2654050,2023-07-21 09:06:17.073000+00:00,vdCLWL1dkxmZ7GAB8lC6R/9xe62KAOkNlgG/NuIvHB5h0e...,"-234,367",#FFFFFF
2654100,2023-07-21 09:06:17.350000+00:00,bWIejP3mRkfHSM8tINnWlhxEEupmYVzDSW+JEVeHfA0IFX...,"288,-283",#000000
2654150,2023-07-21 09:06:17.583000+00:00,E4houua8ApEkPhXZH3n/4r9VsBRFTmBHnIjTzOTkllgKKv...,"-85,-389",#00A368
2654200,2023-07-21 09:06:17.815000+00:00,ist09K1FxoampBumCTd4ZFEd57IwtfNBOmkIfoi+Ty8Vjh...,"361,-455",#3690EA

In [18]:
seven_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000007.csv")
seven_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-21 09:06:18.099000+00:00,vL5q5fwSbecaTonV2qTqMpNKaoP/hzigmPeubHa0S6C1ku...,"-498,127",#000000
50,2023-07-21 09:06:18.298000+00:00,HnLiuNJLs1lNM2DJarBGrHQeORnjQzc5a8KUXT5q1eXGrc...,"-226,-301",#FFFFFF
100,2023-07-21 09:06:18.522000+00:00,Z0IsuK7nqUzEpQG81gQ6I407f5qKu1GiHNoYLh2lff+om3...,"233,-325",#FF4500
150,2023-07-21 09:06:18.863000+00:00,7BV4JN/USA6HV1OH4Tm4htlpTeIkYNONDe5sql/H+u+3nt...,"494,488",#3690EA
200,2023-07-21 09:06:19.026000+00:00,4mVqXe/UeHXXkJZ+R3OixTK+Tr0SjzSGwTuXgm8XaPABvP...,"114,110",#000000
...,...,...,...,...
2496350,2023-07-21 12:26:00.489000+00:00,jTDAgPVaoT3lvs2U0qLc6NNbvTuxVUd2+KXrOzPqbd3msM...,"282,172",#000000
2496400,2023-07-21 12:26:00.741000+00:00,KhEXBZJx4VrOz9jHRz3wdfKDzUZKv24T8UpuZ4UrZ1Lc/U...,"-435,201",#000000
2496450,2023-07-21 12:26:00.982000+00:00,0kC00qEKeLgSgf6QgBVRfAxKBWwJ09fX56OE6SYmHitF/W...,"286,-359",#FF4500
2496500,2023-07-21 12:26:01.193000+00:00,0zkh4VPNvT396heW6zmQpTEHuOTdFvcYQRl5QHbijtjoLj...,"230,270",#B44AC0
2496550,2023-07-21 12:26:01.396000+00:00,w6F6JT44GNTaDZzCJXWhX3/7c4CTqz5NYSy9QbMJVk73rw...,"-70,494",#FFD635

In [19]:
eight_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000008.csv")
eight_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-21 12:26:01.571000+00:00,bo6owAxbijIHRxMSlP7zCU2nZuuYBKCECJX2Mc4ceFvVLm...,"377,-173",#FFFFFF
50,2023-07-21 12:26:01.855000+00:00,KHJ1Geog1cFdsK8KlZDuZjxxWAhhCYA+DbYCA+Akq64rYM...,"217,-382",#3690EA
100,2023-07-21 12:26:02.139000+00:00,r8qdrPj0FzCkAgbWXjmbr6k0SaooYrKcLCQ2P8GJt8YuHH...,"-216,122",#FF4500
150,2023-07-21 12:26:02.340000+00:00,IQ9/JBESLactxwDZBz68evqV/3birQxomwi3UCtX0yw6xZ...,"345,-268",#FFA800
200,2023-07-21 12:26:02.541000+00:00,y2taGgBctuEuoCR+Lsv/2dNogaiTwcAR+7R72XlVAAFy/2...,"377,-251",#FFFFFF
...,...,...,...,...
2221500,2023-07-21 14:51:44.886000+00:00,BYs/TH/3NDXnYnygbrAnWzLaTAVGQzKNZ2ivS7xLI8YzUR...,"-119,116",#FFFFFF
2221550,2023-07-21 14:51:45.009000+00:00,54HD9UVU6bms+C9thbO0GAeNIxVijz9UL/u+vhD5flrzFm...,"490,21",#B44AC0
2221600,2023-07-21 14:51:45.175000+00:00,MBRvFUCt9jNIMxVd3R2sFvOdYPbE2gtrf+s6Mzyo+ZrMXJ...,"97,492",#FFD635
2221650,2023-07-21 14:51:45.368000+00:00,bODtHXnyVFr30MUrmAKtptscDEyRbuiVed5Cc5MfqWei4q...,"372,-210",#00A368
2221700,2023-07-21 14:51:45.575000+00:00,LtPhjiqEsFkVlb5bk5+6ipHqMKey/JVfgA3YoDugBxB+W8...,"-344,391",#FF4500

In [20]:
nine_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000009.csv")
nine_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-21 14:51:45.600000+00:00,unmcKWl/KvDxl97b32/7JXrsO1qgrO0N6nsvUglEiIOueo...,"335,-58",#FFA800
50,2023-07-21 14:51:45.763000+00:00,S0XoCuNYjkna/ZIe4Kgc2B5OfTOYxSp7Xiwrv2cOizfZ2b...,"112,7",#00A368
100,2023-07-21 14:51:45.985000+00:00,UEK6PmHvFcrQZMiEa1pQs7RrQd30/NXlV7eedTFJiCkgZx...,"-180,-162",#3690EA
150,2023-07-21 14:51:46.154000+00:00,lKbIdfBS5jvvV+dVrt36mG9rXHuIcUFxo2/Ack4xKY7q9o...,"265,-259",#00A368
200,2023-07-21 14:51:46.377000+00:00,MKFHIsjCF39flMRKozEklyyctcihoqKadgDpwpH6mi412J...,"-476,-133",#FFFFFF
...,...,...,...,...
2634650,2023-07-21 16:54:46.843000+00:00,IWLzPz5Stxs7EgC7GZkWkNfCWkSOzfYaPfE1VuBhXT4X6T...,"541,-113",#000000
2634700,2023-07-21 16:54:47.030000+00:00,kd0j949CsNhbhcJ0uLCsM/cKuemOwxiKH1BybemKzxpsH1...,"850,318",#00A368
2634750,2023-07-21 16:54:47.148000+00:00,PJgzCXni60bbEvult2Gd53MQ6FrypQ9JLVPvTc5D1N2seB...,"887,-61",#3690EA
2634800,2023-07-21 16:54:47.264000+00:00,U6mlcXwWQwCUJDVjsWByHlrvMriFZ1JKReGuLDwjYVTEr5...,"738,-209",#00A368
2634850,2023-07-21 16:54:47.415000+00:00,6XNPZHPH40M20ViucVQ2IptT48mykfGAmRSh3Vtf2h3PFJ...,"190,50",#B44AC0

In [21]:
ten_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000010.csv")
ten_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-21 16:54:47.453000+00:00,mkQgGqiUiK6Pq1U7aJaVUeuR6osLQ6JvCMeTfCXKD8Poci...,"697,13",#00A368
50,2023-07-21 16:54:47.594000+00:00,IpZ6M4M4jkf31pXAvPAOgg3VBM8lMewFaRBiX7ZGoXF4Rt...,"819,-368",#FF4500
100,2023-07-21 16:54:47.735000+00:00,aahiWJ9mh86X4kdaSXy+noeQNtdrGDEjHPDXO2UJLP+AMV...,"693,-46",#00A368
150,2023-07-21 16:54:47.868000+00:00,BR9aZ+do1/sCexDfNAsanLW80wdDVCkz4qPSVvKpq/gMe9...,"-259,395",#FF4500
200,2023-07-21 16:54:47.933000+00:00,diqFxEz35tSPb11A2RU4pcFdvGuVrxfxFGzejcN4tQyfWM...,"-244,378",#FFFFFF
...,...,...,...,...
2683050,2023-07-21 18:57:47.086000+00:00,voPXuz+my81WIkPqgo7Svp/1DDfUuVfjb4Q/KAfWfSYnHo...,"-316,370",#FFFFFF
2683100,2023-07-21 18:57:47.198000+00:00,lVRTqFhG5hVjvMTCCYtTaGIkpbVKLLME4N38R9mjy8XZje...,"266,181",#000000
2683150,2023-07-21 18:57:47.377000+00:00,M52EQvFAvnIX7G/gfsk3/RLpG2haU7cDipzBatve3V+BOf...,"732,59",#000000
2683200,2023-07-21 18:57:47.571000+00:00,XnJeN6d7+2wE6yttMOwJ1TWfauvMovV8qF6P2wvzJ3K+7w...,"-89,403",#000000
2683250,2023-07-21 18:57:47.744000+00:00,CMzitR69f0V5B/E7a2O7FOurhad1QWPnw8GklI7F4DsCGS...,"-40,-215",#FF4500

In [22]:
eleven_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000011.csv")
eleven_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-21 18:57:47.928000+00:00,ZjWKCI80r3aT5shCz1mcBkwlqt8A10c4fGCg+K+0JiiISH...,"498,65",#FF4500
50,2023-07-21 18:57:48.116000+00:00,hMx4qL5lQCfm1AY49oAb2tY1u1GNUAr/GpTSUb8YOc8iC/...,"634,385",#FFFFFF
100,2023-07-21 18:57:48.267000+00:00,xk/cHvLGUruvhryQXN9yVMGsluTyQjwveK+z9hThfYhgGX...,"132,213",#000000
150,2023-07-21 18:57:48.463000+00:00,ZwxDMMRJcmAv930rd3NA7Uu5QeP2VB2w+a/Q5gVCBG+uNR...,"-46,457",#3690EA
200,2023-07-21 18:57:48.623000+00:00,FdsRZGgRufQS2N+YNzaC9kjoyuWJmCe7nQ5yC+KGZNLB/1...,"-473,2",#FF4500
...,...,...,...,...
2382350,2023-07-21 20:44:56.839000+00:00,UjPCw18PdSqFMTaC7Cas4HAPUg4ZVIW49zMEN7KydyDdQP...,"365,154",#3690EA
2382400,2023-07-21 20:44:57.029000+00:00,kSYqGK8cXAk1bZOmwHuJFy48gcQBSkkegFVKKTYvf3xrQt...,"789,31",#000000
2382450,2023-07-21 20:44:57.258000+00:00,FKq2Ku4/OcVnaPKSjKvbWZXXdCgtvIjcW7AzU9Kvj6yA/K...,"357,-89",#FF4500
2382500,2023-07-21 20:44:57.490000+00:00,5HTn/I5e5RK7m13EnevKdnnHu26na3Kj6x6yxnt9RosZwa...,"797,63",#000000
2382550,2023-07-21 20:44:57.690000+00:00,QGZqWtidI9l90xnGbVEIPnCCYy/+EuTiGrUV6JV8pBuRI7...,"-232,329",#000000

In [23]:
twelve_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000012.csv")
twelve_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-21 20:44:57.815000+00:00,T9Vvo+iGIrFAdNmQII+5yveQcUoKSLyCxFwqVGjn1e7R33...,"995,449",#3690EA
50,2023-07-21 20:44:58.037000+00:00,8Z16nqap1IK4zNvukXoxj0oc0xP8NWwZgtNTbw7P53M/g0...,"447,254",#FF4500
100,2023-07-21 20:44:58.312000+00:00,K7HbFg2VHaObiYS0QrtA1X1t+w4ZtfeQoan8K/MpnSJW6Y...,"787,6",#FF4500
150,2023-07-21 20:44:58.458000+00:00,drxmy77PM91AIM1gEcgtrhudEkVlU13HlPnDKhHq9Y+0wB...,"603,-13",#FFFFFF
200,2023-07-21 20:44:58.710000+00:00,rs9I8sx9T0+8JGsgmYUayAAB98NK1B6yHo20TrgKi6ddYc...,"785,-3",#FF4500
...,...,...,...,...
2668550,2023-07-21 22:45:25.980000+00:00,7IuwiPcCSsCL8CjqA/8W8Obe0dNPKWoXMicNEhG+gMQNZ1...,"185,115",#51E9F4
2668600,2023-07-21 22:45:26.163000+00:00,77zBGKzPS2evNwsslOLdposq7+ZPtXUiNtj9/0J2SFzJL5...,"-163,354",#000000
2668650,2023-07-21 22:45:26.348000+00:00,lDPbh2o9/66t5kDaYov+5l/5x4lOEHeHbWh296d539HLNY...,"737,272",#FFD635
2668700,2023-07-21 22:45:26.503000+00:00,EDwcmx+6sTVVz0Mb81erFEf1wZug75MRjO7APD6Lb66uhJ...,"138,58",#9C6926
2668750,2023-07-21 22:45:26.647000+00:00,g1o2K0G8R6D39ZOpvuMGMK2BAjJ5H3b3Ru7dWD2/0yXns9...,"147,474",#000000

In [24]:
thirteen_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000013.csv")
thirteen_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-21 22:45:26.766000+00:00,T8hH8bAPHJF3EoMBMSnXLQKzrfkKduFU6N1I0WH6s5vMgP...,"191,-114",#9C6926
50,2023-07-21 22:45:26.950000+00:00,kFX4pMwxqWZ8Vv7HrsiR4Cs9yhFCFVVQIz4uaxA4w29QTq...,"831,-127",#FFFFFF
100,2023-07-21 22:45:27.073000+00:00,Lyk1VcW52sEJE6nPibeYFE4OT7CX4iwCBg14p1fddmgS3N...,"615,210",#000000
150,2023-07-21 22:45:27.229000+00:00,9CPIsn6cG8k4NC581zooFI4Jxpkv0aPIfVlFDHMBX8DR9b...,"127,161",#FF4500
200,2023-07-21 22:45:27.369000+00:00,kQq/PRI7Ok2DMTyrZmag+By0jCXywOQdn7ahIyR8EIduph...,"800,-330",#FF4500
...,...,...,...,...
2482000,2023-07-22 01:26:30.470000+00:00,Tep0WBpczHKJoY46Qg0Nw3QJp2AE2ZW14SiHcwmVcddlUX...,"358,92",#FF4500
2482050,2023-07-22 01:26:30.655000+00:00,+muN9H7jPw3z+0inRhB0StnVgRaB8D1NDoV91Ipi+W+2Ol...,"841,115",#7EED56
2482100,2023-07-22 01:26:30.849000+00:00,GhruJCQ/wD4YXFfevDIMvYFL+ZfJxJa7m87NT+T+SU1642...,"305,294",#FFD635
2482150,2023-07-22 01:26:31.086000+00:00,FmhT/cbcP0A0UEvZs5MSUxgcrEHqPqTHSBgNE9UiTEcQls...,"743,389",#811E9F
2482200,2023-07-22 01:26:31.330000+00:00,O1+gWY7tzP46pdTMftbWehmfnH86/9yRNTheOX8wSPEIiR...,"645,486",#2450A4

In [25]:
fourteen_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000014.csv")
fourteen_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-22 01:26:31.409000+00:00,wKaVmXxd3N24N9tChFKIbtvDoXmJmlKJxRs55CGVtje7yz...,"-29,-134",#FFFFFF
50,2023-07-22 01:26:31.625000+00:00,0saea1cp54x16iHR6GvfOu447Z+8RTa7LnOUgzWg1uZQe0...,"688,454",#00A368
100,2023-07-22 01:26:31.839000+00:00,z6vzXBhu114oCuwNMmUJRwOlmlZjyp1cv3ub8UidAud50P...,"769,-232",#FFD635
150,2023-07-22 01:26:32.138000+00:00,6Z3lEMIfemBk8xKRAYzMRNXIYRfokC4rbwseYx4nZu3SBl...,"769,-238",#FFFFFF
200,2023-07-22 01:26:32.366000+00:00,exPGqbu3SUnPbMqGB9gDOPizO2sdUXLmtpxNK08ICQu5qU...,"-198,473",#2450A4
...,...,...,...,...
2574750,2023-07-22 05:11:09.929000+00:00,OTagp8RZprO1RquOEqaPK1OKty7rMZzdsUUTYZ7ZhXt4gV...,"720,80",#000000
2574800,2023-07-22 05:11:10.242000+00:00,sT7kMaY5xUCcyNyQJpnv11PEmy7jLQrB7PN4miL315DwaT...,"404,154",#000000
2574850,2023-07-22 05:11:10.609000+00:00,fY/LiiuF2VXvRIjKC53fWgWBYAcxaASOnEHsvdJVB6Jsf2...,"-316,-271",#2450A4
2574900,2023-07-22 05:11:10.964000+00:00,RjggFQ6Ju9ROFxxa+uBdYqQakPdb9mi7wbR4rCHocyx955...,"189,-7",#FFD635
2574950,2023-07-22 05:11:11.359000+00:00,y3FUq3NIRvmcIH5ElHhvpbwiSKHrboqlI7S03EJmgct5cH...,"363,94",#B44AC0

In [26]:
fifteen_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000015.csv")
fifteen_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-22 05:11:11.456000+00:00,qceSXKSz16HWgOq694G0DfVKlxwqHxEkwetrlEWUWMF+6j...,"-112,445",#000000
50,2023-07-22 05:11:11.755000+00:00,zVkT00dhJn0sEuy9wyR0/ngRSNDy4/pmO1WcwJKFDNj7/i...,"-254,-217",#FFFFFF
100,2023-07-22 05:11:12.070000+00:00,/GVGyK0JI0lP78/pfQBxTHU8iSRhU64bioBLhpUjV+hFK4...,"913,-237",#FFFFFF
150,2023-07-22 05:11:12.356000+00:00,sAhE4c8RVgTQgJQseiI5OsNDT1pa6OdsE7DscW6UBnqoFj...,"-91,62",#00A368
200,2023-07-22 05:11:12.785000+00:00,bzFms26kM1Dwhml9wWugLgMCUNots198SKM3a7rs0M2Rgk...,"848,97",#FF4500
...,...,...,...,...
2808900,2023-07-22 09:40:05.926000+00:00,TPOx+d5mL6lLd+Dvx66NglYYUk+zz8z9LT6nNQb21LoXG3...,"-441,-282",#FF4500
2808950,2023-07-22 09:40:06.182000+00:00,dx2LKKynJePlFYVv97k3wLDuSNmyIwsFoUxQpIOpuxMRDz...,"-897,-366",#FF4500
2809000,2023-07-22 09:40:06.416000+00:00,nrVBq17KduFpAqG9T56sjHqHIXViqrQZJcXyoqwxDY8vsa...,"208,326",#FF99AA
2809050,2023-07-22 09:40:06.655000+00:00,zz08yhCVLKoebAr55i4uIKFwVPBzmtC4Yku5lmquOE0xDu...,"-237,256",#FFFFFF
2809100,2023-07-22 09:40:06.871000+00:00,NR9rsAB6seYenOP6FbzVfqO0AZJLWIBFQewdiDbmQ7eHLm...,"-250,-295",#FF4500

In [27]:
sixteen_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000016.csv")
sixteen_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-22 09:40:06.995000+00:00,m3gzNqRg+hXi1WcBzJb2s8jnlrOHXLs/hgQ19PqjTnpdv/...,"-545,-419",#FF4500
50,2023-07-22 09:40:07.267000+00:00,hYki9E5l7IJ8hEis87oHIInZWBcgfvV0L1p0fqQYClKw9H...,"369,-417",#000000
100,2023-07-22 09:40:07.477000+00:00,x1NN3HG7/xfRe2mA641y4VaR1XPp7tHFXOmJp8CG9gNVfK...,"-902,-499",#000000
150,2023-07-22 09:40:07.752000+00:00,sKyEcLd6V7D4DyXTId5NXDWPbhBRnU0jZHMko1TlY/fzXu...,"-273,-432",#FFA800
200,2023-07-22 09:40:07.999000+00:00,bLJP+/64r4tli2EwTlAO69dvpYv98AFggxOkvGAlcOaiIi...,"-311,-496",#FFA800
...,...,...,...,...
2676750,2023-07-22 12:56:26.961000+00:00,H3ii48JOB6pB7z5s3kvFSeQoNGxEf7CSnJ0WPLEAIkVtgk...,"215,159",#FFA800
2676800,2023-07-22 12:56:27.218000+00:00,4onnUkqbJfqqw3s/ePgcPgM5TqR6X03zKYGuZPTz5w4alj...,"-365,-123",#000000
2676850,2023-07-22 12:56:27.398000+00:00,bDJ0yDgiEfIEfLI9rDTr+/ko5Ww2oboV50ju5dlX42rhCw...,"-140,-154",#FFFFFF
2676900,2023-07-22 12:56:27.591000+00:00,PlcDs0rsTdgS6d6SJmi6bBRnRMTXwJ3GofCU2qeIkdIdnI...,"189,39",#9C6926
2676950,2023-07-22 12:56:27.761000+00:00,uOlL5n2an/gg4Xzfmp3q3Y02946p8ABTuiOjnpeaUs5RkD...,"-769,326",#FFD635

In [28]:
seventeen_sample = preprocessing("/Users/conniechou/Downloads/2023_place_canvas_history-000000000017.csv")
seventeen_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-22 12:56:27.786000+00:00,c8XtRQGKKmvYY9D7YfHz+OAh8bqtjgCTur136PKz0/6szp...,"-465,34",#FFFFFF
50,2023-07-22 12:56:28.020000+00:00,2FdJ4DspxL9A601Igdjbzz30kDa9Sv5OuUEF8K8HmEhpsu...,"939,-421",#FFD635
100,2023-07-22 12:56:28.297000+00:00,5vgUaQHTx626jVjloFBwOdYGh/jeoNLTGNwDAf9uVo6GKU...,"-234,361",#000000
150,2023-07-22 12:56:28.462000+00:00,jMkqv/99TUKfCgU88/r7OJnzs+elHJqHdhKb8wJ6ygU/YO...,"932,216",#FFFFFF
200,2023-07-22 12:56:28.653000+00:00,VyYYFWJDJ4pSuHUVK5VMYpPPEuJro25dj+ZxCk6aSC086n...,"-340,-383",#51E9F4
...,...,...,...,...
2455200,2023-07-22 15:31:50.166000+00:00,4I5M+Xuc004s4SmbeBPQApSLa3H4KnmbS7GPbyLaKus4xF...,"-681,152",#000000
2455250,2023-07-22 15:31:50.442000+00:00,tpOoo+1GFDtTBek/BjD5RoJxKjIywyWIAuKJK0/BPie1Xl...,"-812,437",#000000
2455300,2023-07-22 15:31:50.633000+00:00,EroesJaRaxQVJhA8i/n06YhxHpMymS1tJqsoY2QOoie3wF...,"-773,-130",#FF4500
2455350,2023-07-22 15:31:50.833000+00:00,fIrNKzofKGNAwAuifXsNiQ0pjiu/tIP0dykzT90V8aKNhk...,"149,143",#000000
2455400,2023-07-22 15:31:51.033000+00:00,KfHu1uw4US8Ri9dQF7hm+LkbPV3HOf/O82Nh+5TY+iLQru...,"-817,-311",#FFFFFF

In [29]:
#concat all of the samples together
cc_sample = pd.concat([zero_sample, one_sample, two_sample, three_sample, four_sample, five_sample,
                      six_sample, seven_sample, eight_sample, nine_sample, ten_sample, eleven_sample,
                      twelve_sample, thirteen_sample, fourteen_sample, fifteen_sample, sixteen_sample,
                      seventeen_sample])
cc_sample

,timestamp,user,coordinate,pixel_color
0,2023-07-20 13:00:26.088000+00:00,no+8HEIDjbdx7/LxH9Xr+h4lyoar0MRTYugWKrGdQOg7dF...,"-199,-235",#FFFFFF
50,2023-07-20 13:04:46.627000+00:00,YF56mQAiwsAJZWzgMKsdbV9/C/BX6TrYCG5tI0RWei5gMB...,"-282,136",#FF4500
100,2023-07-20 13:04:50.488000+00:00,JVohwv9S68P/w6g43UGQ2cIYfQRDbHGz6j+e4as892QiRb...,"4,311",#000000
150,2023-07-20 13:04:53.186000+00:00,ZSFZbF0lkStMHMvpxTc9g1+JpjHXDHBQVdFn8wo+9gGCyX...,"231,7",#000000
200,2023-07-20 13:04:55.302000+00:00,jgIOrksmd9jjetEZzqaU6mmKrIJwng/c/NHdZKvtqNZZ1A...,"-492,-498",#000000
...,...,...,...,...
2455200,2023-07-22 15:31:50.166000+00:00,4I5M+Xuc004s4SmbeBPQApSLa3H4KnmbS7GPbyLaKus4xF...,"-681,152",#000000
2455250,2023-07-22 15:31:50.442000+00:00,tpOoo+1GFDtTBek/BjD5RoJxKjIywyWIAuKJK0/BPie1Xl...,"-812,437",#000000
2455300,2023-07-22 15:31:50.633000+00:00,EroesJaRaxQVJhA8i/n06YhxHpMymS1tJqsoY2QOoie3wF...,"-773,-130",#FF4500
2455350,2023-07-22 15:31:50.833000+00:00,fIrNKzofKGNAwAuifXsNiQ0pjiu/tIP0dykzT90V8aKNhk...,"149,143",#000000
2455400,2023-07-22 15:31:51.033000+00:00,KfHu1uw4US8Ri9dQF7hm+LkbPV3HOf/O82Nh+5TY+iLQru...,"-817,-311",#FFFFFF

In [42]:
#turn concatenated stuff into csv
# cc_sample.to_csv(header=True, compression='gzip')

# Define the chunk size (e.g., 10,000 rows)
chunk_size = 10000

# Create an empty list to store the chunks
chunks = []

# Load your large DataFrame into memory or create it if it's not already loaded

# Calculate the number of chunks needed to process your entire DataFrame
num_chunks = len(cc_sample) // chunk_size + 1

# Create a loop to iterate through the chunks and append them to the list
for i, chunk in enumerate(np.array_split(cc_sample, num_chunks)):
    chunks.append(chunk)

# Concatenate all the chunks into a single DataFrame
result_df = pd.concat(chunks, ignore_index=True)

# Save the result DataFrame as a single CSV file
result_df.to_csv('combined_data.csv', index=False)